##PORT FOR APP
PORT=3000
##PORT API DEV
REACT_APP_API=http://localhost:3001
##PORT API TEST
#PORT_API=http://localhost:7524
##PORT API DEMO
#PORT_API=http://localhost:7524
##PORT API PRO
#PORT_API=http://localhost:7524